<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/style.css">
<script type="text/javascript" src="/javascripts/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/javascripts/SignOut.js"></script>
</head>
<body>
<h1><%= title %></h1>

<input type="button" value="SignOut"/>
  
</body>
</html>
