<script type="text/javascript" src="/javascripts/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/javascripts/validate.js"></script>

<h1><%= title %></h1>
<h1>"You've reached the list of users"</h1>